.root{
  text-align: center;
}


.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loginIcon {
  margin-left: 200px;
  width: 120px;
  height: 60px;
  /*height: 50px;*/
}

.hideLoginIcon {
  composes: loginIcon;
  margin-left: 0;
  transition: margin-left .5s;
}


.dashboard {
  position: relative;
  display: flex;
  -webkit-box-shadow: -2px -7px 30px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -7px 30px 0px rgba(0,0,0,0.75);
box-shadow: -2px -7px 30px 0px rgba(0,0,0,0.75);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: rgba(255,255,255,.84);
  margin-right: 5px;
}

.sideBar {
  display: flex;
  flex-direction: column;
  background-color: #cce6f4;
  color: white;
  width: 200px;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: #111;*/
  overflow-x: hidden;
  transition: 0.5s;
  position: fixed;
}

.closeSideBar {
  left: -200px;
  position: absolute;
  transition: 0.5s;
  transform: translateX(0);
}

.board {
  margin-left: 200px;
  width: 80%;
  padding: 40px;
  display: flex;
  position: relative;
}

.closeBoard {
  composes: board;
  margin-left: 0;
  transition: margin-left .5s;

}

.colorBlock {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
}

.pieAndLabel {
  display: flex;
  align-items: center;
}

.colorAndText {
  display: flex;
}
.mainPanel {
  width: 100%;
}

.toggleIcon {
  color: #3f51b5;
  position: absolute;
  top: 20px;
  left: 50px;
  cursor: pointer;
}

.toggleIcon::before{
  font-size: 20px;
}

.tab {
  cursor: pointer;
  background-color: #4BA3C3;
  width: 200px;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
}

.welcomeText {
  justify-content: center;
  display: flex;
  align-items: center;
}

.tab:hover {
  background-color: #ba324f;

}

.tab > span {
  margin-right: 5px;
}

.panelCard {
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.barAndText {
  display: flex;
  width: 100%;
  height: 200px;
  padding-top: 20px;
  text-align: left;
}

.barAndText > div:first-child {
  margin-right: 5px;
}

.bars {
  width: 57%;
}

.color {
  color: white;
  text-align: center;
}
.colorA {
  composes: color;
  background-color: #0088FE;
}

.colorB {
  composes: color;
  background-color: #00C49F;
}

.colorC {
  composes: color;
  background-color: #FFBB28;
}

.colorD {
  composes: color;
  background-color: #FF8042;
}


/*review*/
.listReview {
  display: flex;
  justify-content: space-between;
}

.listReview > p {
  width: 25%;
  /*margin-right: 5px;*/
}
