.root{
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loginIcon {
  margin-left: 200px;
  width: 120px;
  height: 60px;
}

.hideLoginIcon {
  composes: loginIcon;
  margin-left: 0;
  transition: margin-left .5s;
}

.dashboard {
  position: relative;
  display: flex;
  box-shadow: -2px -7px 30px 0px rgba(0,0,0,0.75);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: rgba(255,255,255,.84);
  margin-right: 5px;
}

.sideBar {
  display: flex;
  flex-direction: column;
  background-color: #cce6f4;
  color: white;
  width: 200px;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  position: fixed;
  box-shadow: -2px -7px 30px 0px rgba(0,0,0,0.75);
}

.closeSideBar {
  left: -200px;
  position: absolute;
  transition: 0.5s;
  transform: translateX(0);
}

.board {
  margin-left: 200px;
  width: 100%;
  padding: 40px;
  position: relative;
}

.closeBoard {
  composes: board;
  margin-left: 0;
  transition: margin-left .5s;

}

.colorBlock {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
}

.pieAndLabel {
  display: flex;
  align-items: center;
}

.colorAndText {
  display: flex;
}
.mainPanel {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.toggleIcon {
  color: #3f51b5;
  position: absolute;
  top: 20px;
  left: 50px;
  cursor: pointer;
}

.toggleIcon::before{
  font-size: 20px;
}

.tab {
  cursor: pointer;
  background-color: #4BA3C3;
  width: 200px;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
}

.activeTab{
  background-color: #a01f1c;
}

.welcomeText {
  justify-content: center;
  display: flex;
  align-items: center;
}

.tab:hover {
  background-color: #ba324f;

}

.tab > span {
  margin-right: 5px;
}

.panelCard {
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
  width: 100%;
  box-shadow: 0px -2px 78px -20px rgba(0,0,0,0.75);
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.barAndText {
  display: flex;
  width: 100%;
  height: 200px;
  padding-top: 20px;
  text-align: left;
}

.barAndText > div:first-child {
  margin-right: 5px;
}

.bars {
  width: 57%;
}

.color {
  color: white;
  text-align: center;
}
.colorA {
  composes: color;
  background-color: #0088FE;
}

.colorB {
  composes: color;
  background-color: #00C49F;
}

.colorC {
  composes: color;
  background-color: #FFBB28;
}

.colorD {
  composes: color;
  background-color: #FF8042;
}

/*dashbaord*/

.logs {
  text-align: left;
}

.PanelLog {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  margin-bottom: 8px;
  cursor: pointer;
}

.PanelLog:hover {
  border-bottom: 2px solid #e50914;
  color: #e50914;
}

.logName {
  width: 134px
}

.messageLog {
  width: 400px;
}

.hoursLog {
  width: 200px;
}
/*review*/
.listReview {
  display: flex;
  justify-content: space-between;
}

.listReview > p {
  width: 25%;
}

.customersAvatar {
  width: 40px;
  height: 40px;
}


.mdCard {
  width: 500px;
  flex: 0 0 500px;
  height: 268px;
}

.bgCard {
  width: 560px;
  flex: 0 0 560px;
}

.titleHeader {
  text-transform: capitalize;
}

.ratingP {
  width: 100px;
}
